.menu{
	/* width: 100%;*/
	width: 63%;
	height: 100%;
	ul{
		display: flex;
		height: 100%;
		/* width: 100%;*/
		li{
			position: relative;
			display: flex;
			align-items: center;
			padding-right: 30px;
			cursor: pointer;
			a{
				position: relative;
				outline: none;
				text-decoration: none;
				transition: .3s;
				font-family: $familyRegular;
				font-size: 20px;
				font-weight: 400;
				color: $color-black;
				&:before{
					content: '';
					position: absolute;
					left: 0;
					bottom: -3px;
					width: 0;
					height: 2px;
					background-color: $color-black;
					transition: .3s;
				}
				&:hover{
					&:before{
						width: 100%;
					}
				}
			}	
			&.submenuItem{
				ul{
					display: none;
				}
			}
			&.hide-header{
		        display: none;
		    }
			&:last-child{
				padding-right: 0;
			}
		}
	}
}

@media (max-width: 1600px){
	.menu {
		ul {
			li {
				padding-right: 20px;
				a{
					font-size: 18px;
				}
			}
		}
	}
}
@media (max-width: 1270px){

}